head
  title Admin Panel 
  script(type='text/javascript' src='validate.js')
p Olá #{user}
nav#menu
  ul
    li
      a(href='/admin/createPost') Create
    li
      a(href='/admin/Postlist') Edit
    li
      a(href='/admin/Postlist') Delete
