head
  title Post
  script(type='text/javascript' src='./javascripts/validate.js')
- var len = content.length
  div
  CONTENTE
  - for(let i = 0; i < len; i++)    
    h1=content[i].title
    h2=content[i].subtitle
    code=content[i].content
    br

a(href="/home") Home