head
  title Post Panel
p Update Post
- var len = posts.length
- for(let i = 0; i < len; i++)
  div
  p=posts[i]
  a(href=`/admin-panel/updatePost/${posts[i]}`) Edit
  a(href=`/admin-panel/deletePost/${posts[i]}`)  Delete
  br

a(href="/home") Home